<div class="fondo">
        <header><app-barra-menu></app-barra-menu></header>    
            <section id="formularios">
                <div class="container">
                    <div class="container-forms">
                        <h1>Tips</h1>
                        <h2>Visualisa los Tips que tus pacientes podrán seguir.
                        Pueden ser Tips de Alimentacion o de salud Fisica general.</h2>                    
                    </div>                
                    <button class="h2"><a routerLink="/tips/agregar-tip"><i class="fas fa-user"></i>Agregar nuevo Tip</a></button>                                           
                    <br>
                    <div class="contenedor-formularios">
                        <div class="formularioColor color1">
                            <ol>
                                <li>Ejercitate 30 minutos al dia</li>                            
                                <li>>Toma 1 litro de agua al dia minimo.</li>                            
                                <li>Antes de dormir no utilices el telefono.</li>                                                                    
                            </ol>
                        </div>                                    
                    </div>                
                </div>
            </section>    
    </div>
    
    