<div class="fondo">
    <header><app-barra-menu></app-barra-menu></header>
    <main>
        <section id="formularios">
            <div class="container">
                <div class="container-forms">
                    <h1>NutriRiñon</h1>
                    <h1>Bienvenido Medico</h1>
                </div>
                
                <div class="contenedor-formularios">
                    <div class="formularioColor color1">
                        <img class="imagen" src="../../../assets/medico.png"> 
                        <h4>Rodrigo Hernandez</h4>                      
                    </div>                
                </div>
            </div>
        </section>
    </main>
</div>