<div>  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Dia</th>
        <th>Alimento</th>
        <th>Calorias</th>
        <th>Proteinas</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lunes</td>
        <td>Atun</td>
        <td>200</td>
        <td>150</td>
      </tr>
      <tr>
        <td>Martes</td>
        <td>Aguacate</td>
        <td>129</td>
        <td>59</td>
      </tr>
      <tr>
        <td>Miercoles</td>
        <td>Sandia</td>
        <td>300</td>
        <td>830</td>
    </tr>
    <tr>
        <td>Jueves</td>
        <td>Sandia</td>
        <td>300</td>
        <td>830</td>
    </tr>
    <tr>
        <td>Viernes</td>
        <td>Sandia</td>
        <td>300</td>
        <td>830</td>
    </tr>
    <tr>
        <td>Sabado</td>
        <td>Sandia</td>
        <td>300</td>
        <td>830</td>
    </tr>
    <tr>
        <td>Domingo</td>
        <td>Sandia</td>
        <td>300</td>
        <td>830</td>
    </tr>
    </tbody>
  </table>
</div>
