<div class="fondo">
    <header><app-barra-menu></app-barra-menu></header>    
        <section id="formularios">
            <div class="container">
                <div class="container-forms">
                    <h1>Pacientes</h1>
                    <h2>Verifica los pacientes que tienes agregados.
                    Podran ver las dietas que publiques, asi como los tips que agreges.</h2>                    
                </div>                
                <button class="h2"><a routerLink="/pacientes/registrar-paciente"><i class="fas fa-user"></i>Agregar nuevo Paciente</a></button>                                           
                <br>
                <div class="contenedor-formularios">
                    <div class="formularioColor color1">
                        <ol>
                            <li><a routerLink="/pacientes/historialPaciente"><i class="fas fa-user"></i>Julio Molina</a></li>                            
                            <li><a routerLink="/pacientes/historialPaciente"><i class="fas fa-user"></i>Cesar Martinez</a></li>                            
                            <li><a routerLink="/pacientes/historialPaciente"><i class="fas fa-user"></i>Salvatore Ganacci</a></li>                            
                            <li><a routerLink="/pacientes/historialPaciente"><i class="fas fa-user"></i>Pedro Gomez</a></li>                            
                        </ol>
                    </div>                                    
                </div>                
            </div>
        </section>    
</div>

