<header><app-barra-menu></app-barra-menu></header>
<div class="fondo">
    <main>
        <section id="formularios">
            <div class="container">
                <div class="container-forms">
                    <h1>Pacientes</h1>
                    <h2>Verifica los pacientes que tienes agregados</h2>
                    <h2>Podran ver las dietas que publiques, asi como los tips que agreges.</h2>
                </div>
                <br>
                <div class="contenedor-formularios">
                    <div class="formularioColor color1">
                        <ol>
                            <li><a routerLink="/pacientes/historialPaciente"><i class="fas fa-user"></i>Julio Molina</a></li>                            
                            <li><a routerLink="/pacientes/historialPaciente"><i class="fas fa-user"></i>Cesar Martinez</a></li>                            
                            <li><a routerLink="/pacientes/historialPaciente"><i class="fas fa-user"></i>Salvatore Ganacci</a></li>                            
                            <li><a routerLink="/pacientes/historialPaciente"><i class="fas fa-user"></i>Pedro Gomez</a></li>                            
                        </ol>
                    </div>                
                    <button>
                       <h2 style="color: cyan;"> Agregar Paciente </h2>
                    </button>
                </div>                
            </div>
        </section>
    </main>
</div>

