<body class="fondo">  
  
  <div class="contenedor">
    <form action="action_page.php" method="post">
    <div class="imgcontainer">
      <img src="../../../../assets/loginIcon.png" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <label for="uname"><b>Usuario</b></label>
      <input type="text" placeholder="Ingresa tu Usuario" name="uname" required>
  
      <label for="psw"><b>Contraseña</b></label>
      <input type="password" placeholder="Ingresa tu contraseña" name="psw" required>
  
      <button type="submit"><a routerLink="/"> Entrar </a></button>

      <label>
        <input type="checkbox" checked="checked" name="remember"> Recordarme
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancelar</button>
      <span class="psw">Registrate <a routerLink="/user/register"> Aqui </a></span>
    </div>
  </form>
</div>

</body>