<header>
  <div class="menu">
      <div class="contenedor">
          <img src="../../../assets/nutririnonLOGO.jpg" >
          <nav class="menu-nav">
              <ul>
                  <li><a routerLink="/"><i class="fas fa-home"></i> Inicio </a></li>
                  <li><a routerLink="/pacientes"><i class="fas fa-user"></i> Pacientes </a></li>
                  <li><a routerLink="/subirdieta"><i class="far fa-edit"></i> Subir Dieta </a></li>
                  <li><a routerLink="/calculadora"><i class="fas fa-calculator"></i> Calculadora </a></li>
                  <li><a routerLink="/tips"><i class="fas fa-list"></i> Tips </a></li>
              </ul>
          </nav>
      </div>
  </div>
</header>