<body>        
<app-barra-menu></app-barra-menu>
    <div class="fondo">
    <main>
        <section id="formularios">
            <div class="container">
                <div class="container-forms">
                        <h1>Historia de Julio Molina</h1>
                        <h2>Consumo semanal de Nutrientes</h2>                    
                </div>                                          
                <button>                        
                        <a style="color: whitesmoke;" routerLink="/pacientes"><i class="fas fa-user"></i>Regresar a Lista de Pacientes</a>
                </button>  
                <div class="contenedor-formularios">
                    <div class="formularioColor color1">                
                        <!-- AQUI VA EL CALENDARIO--> 
                        <app-calendario></app-calendario>
                    </div>
                    <div class="formularioColor color1">
                        <!-- AQUI VA LA TABLA-->
                        <app-tabla-dieta></app-tabla-dieta>
                    </div>
                </div>                
            </div>
        </section>
    </main>
</div>
</body>